# Environment files
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Node
node_modules/
.next/
dist/
build/

# Personal Folders
Markdowns/

#Terraform
terraform/